#newsletter {
  display: flex;
  padding: 2rem;
  .title-wrapper {
    width: 50vw;
    .title-news {
      margin-left: 4rem;
    }
  }
  .forms-wrapper {
    display: flex;
    width: 50vw;
    input {
      width: 100%;
      padding: 1rem;
      background: #dfdfdf;
      border: none;
      border-radius: 10px;
    }
    .btn-submit {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #425e25;
      color: #fff;
      border: none;
      margin-left: 2rem;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 10rem;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: all 0.4s;
      &:after {
        content: '+';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: 2;
      }
      &:before {
        content: '+';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#424242, 15%);
        transition: all 0.4s;
        border-radius: 10rem;
        z-index: 1;
      }
      &:hover {
        color: #000;
        &:before {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 501px) {
    display: block;
    margin: 0;
    .title-wrapper {
      padding: 0;
      margin: 0;
      .title-news {
        margin: 0;
        padding: 0;
      }
    }
    .forms-wrapper {
      display: flex;
      flex-direction: row;
      width: 85vw;
      margin: 0;
      padding: 1rem;
      input {
        margin: 2rem;
      }
      button {
        padding: 12px;
        margin: 2rem 1rem 2rem 0;
      }
    }
  }
}
