#newsletter {
  display: flex;
  padding: 2rem;
  .title-wrapper {
    width: 50vw;
    .title-news {
      margin-left: 4rem;
    }
  }
  .forms-wrapper {
    display: flex;
    width: 50vw;
    input {
      width: 100%;
      padding: 1rem;
      background: #dfdfdf;
      border: none;
      border-radius: 10px;
    }
    button {
      padding: 1rem 2rem;
      background-color: #425e25;
      color: #fff;
      border: none;
      margin-left: 2rem;
      font-weight: 700;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 501px) {
    display: block;
    margin: 0;
    .title-wrapper {
      padding: 0;
      margin: 0;
      .title-news {
        margin: 0;
        padding: 0;
      }
    }
    .forms-wrapper {
      display: flex;
      flex-direction: row;
      width: 85vw;
      margin: 0;
      padding: 1rem;
      input {
        margin: 2rem;
      }
      button {
        padding: 12px;
        margin: 2rem 1rem 2rem 0;
      }
    }
  }
}
