.reserved {
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #8f8f8f;
}
