*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  .image-banner {
    width: 100%;
  }
}

.container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    min-height: 10vh;
  }
  @media screen and (max-width: 501px) {
    min-height: 10vh;
  }
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
  .carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
    .carousel-item {
      display: inline-block;
      width: 100%;
      img {
      }
    }
  }
}
